.produtos-moda th {
    background-color: #BB86FC;
}

.fundo th {
    background-color: #424250;
}

.produto-casa th {
    background-color: #00C4B4;
}

.espacamento {
    margin: 40px;
}